<div>
  <input type="text" [formControl]="nameField" />
  &nbsp;
  <button (click)="getNameValue()">Ver valor</button>
  {{nameField.value}}
  <br>
  <i>asi vemos la propiedades del formControl </i>
  <code>
    <pre>
 <!--      {{nameField | json}} -->
    </pre>
  </code>
</div>

<div>
  <input type="email" [formControl]="emailField" />
  &nbsp;
  <span> Email: {{emailField.value}} </span>
  <br>
  <i>asi vemos la propiedades del formControl email </i>
  <code>
  <pre>
  <!--   {{emailField | json}} -->
  </pre>
</code>
</div>

<div>
  <input type="tel" [formControl]="phoneField" />
  &nbsp;
  <button>Ver valor</button>
  Phone: {{phoneField.value}}
  <br>
  <i>asi vemos la propiedades del formControl tel </i>
  <code>
  <pre>
  <!--   {{phoneField | json}} -->
  </pre>
</code>
</div>

<div>
  <input type="number" [formControl]="numberField" />
  &nbsp;
  <button>Ver valor</button>
  numero: {{numberField.value}}
  <br>
  <i>asi vemos la propiedades del formControl number </i>
  <code>
  <pre>
<!--     {{numberField | json}} -->
  </pre>
</code>
</div>

<div>
  <input type="color" [formControl]="colorField" />
  &nbsp;
  <button>Ver valor</button>
  Color: {{colorField.value}}
  <i>asi vemos la propiedades del formControl color </i>
  <code>
  <pre>
    <!-- {{colorField | json}} -->
  </pre>
</code>
</div>

<div>
  <select [formControl]="categoryField">
    <option value="category-1">category</option>
    <option value="category-2">category</option>
    <option value="category-3">category</option>
    <option value="category-4">category 👽</option>
    <option value="category-5">category</option>
    <option value="category-6">category</option>
  </select>
  &nbsp;
  <button>Ver valor</button>
  Select: {{categoryField.value}}
  <i>asi vemos la propiedades del formControl color </i>
  <code>
  <pre>
    <!-- {{colorField | json}} -->
  </pre>
</code>
</div>

<div>
  <select [formControl]="tagField" multiple>
    <option value="tag-1">tagField</option>
    <option value="tag-2">categotagFieldry</option>
    <option value="tag-3">tagField</option>
    <option value="tag-4">catetagFieldgory 👽</option>
    <option value="tag-5">cattagFieldegory</option>
    <option value="tag-6">cattagFieldegory</option>
  </select>
  &nbsp;
  <button>Ver valor</button>
  Select: {{tagField.value}}
  <i>asi vemos la propiedades del formControl color </i>
  <code>
   <pre>
     <!-- {{colorField | json}} -->
   </pre>
 </code>
</div>
